<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Auckmageddon</title>

    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{ STATIC_URL}}css/bootstrap.min.css">
    <style>
        body {
          padding-top: 60px;
          padding-bottom: 40px;
        }
    </style>
    <link rel="stylesheet" href="{{ STATIC_URL}}css/style.css">

    <script src="{{ STATIC_URL}}js/libs/modernizr-2.5.3.min.js"></script>

</head>
<body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            Auckmageddon sez...
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div id="news_hero" class="hero-unit">
                <h1>Fuckin 'ello</h1>
            </div>
        </div>
        <div class="row">
            <div id="next_event" class="span12"></div>
        </div>
    </div>

    <!-- templates -->
    <script type="text/template" id="news_entry_template">
        <h1><%= title %></h1>
        <div class="news_content">
            <%= content %>
        </div>
    </script>

    <script type="text/template" id="schedule_event_template">
        <h2>Nek minnut</h2>
        <p><%= name %></p>
        <p><%= happening_at %></p>
    </script>

    <script type="text/javascript" src="{{ STATIC_URL}}js/jam/require.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL}}js/screen.js" defer="defer"></script>
</body>
</html>
